
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <h2 align="center">Create New Category</h2>
    <form method="post">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="Name" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" name="Description" />
        </div>

        <div class="form-group">
            <label>Image</label>
            <input class="form-control" type="hidden" id="ImageUrl" name="ImageUrl" />
            <input class="form-control" id="imageUpload" name="image" type="file" accept=".png, .jpg" />

            <div class="thumb">
                <img id="categoryImage" />
            </div>
        </div>

        <div class="form-group">
            <label>Is Featured</label>
            <input name="IsFeatured" type="radio" value="True"/>True
            <input name="IsFeatured" type="radio" value="False" checked="" />False
        </div>
        <button type="submit">Save</button>
    </form>
    <br/>
</div>
    <script>
        $("#imageUpload").change(function () {

            var element = this;

            var formData = new FormData();

            var totalFiles = element.files.length;

            for (var i = 0; i < totalFiles; i++) {
                var file = element.files[i];
                formData.append("Photo", file);
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UploadImage", "Shared")',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false
            })
                .done(function (response) {
                    console.log(response);

                    if (response.Success) {
                        $("#ImageUrl").val(response.ImageUrl);
                        $("#categoryImage").attr("src", response.ImageUrl);
                    }
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        });



    </script>
